<!DOCTYPE html>
<html>
<head>
    <title>Password Strength Checker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <h2>Password Strength Checker 🔐</h2>

    <form method="POST">
        <input type="password" name="password" placeholder="Enter Password" required>
        <button type="submit">Check</button>
    </form>

    {% if result %}
        <h3 class="{{ result }}">{{ result }}</h3>

        <ul>
            {% for item in feedback %}
                <li>{{ item }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</div>

</body>
</html>
